//Font variables
$title-font-size: 50px;
$title-font: Ribeye Marrow;
$text-font: Arial;



//Color variables
$component-text-color: black;
$header-background-color: #ffd501;
$component-primary-color: #EB7470;
$component-secondary-color:snow;
$subsection-primary-color:lighten(blue,20%);
$content-background-color: lighten(#eee4da,1%);
$no-background-color: transparent;


//Width variables
$full-width: 100%;
$simple-input-width: 7rem;
$horizontal-menu-item-width:3.5rem;
$subcontent-container-width:35%;


//Padding variables
$no-padding: 0;
$horizontal-menu-item-padding:0.3rem;
$subcontent-list-padding:5% 1% 5% 0;
$content-title-padding: 1.5% 0 0 1%;

//border variables
$border-width: 2px;
$border-radius: 15px;
$horizontal-menu-item-border: $border-width solid $component-primary-color;


//margin variables
$no-margin: 0;
$horizontal-menu-top-margin: 0.8rem;
$title-margin: 8px 8px;
$search-bar-margin: 2% 8% 2% 2%;
$content-title-margin:0 0 2% 2%;
$subcontent-section-margin: 0% 3% 3% 3%;
